.container123{
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 25px;
    background-color: #fff;
    padding:30px 40px;
    width: 1100px;
    margin : 0 auto 15px auto;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 300px;
    float: left;
    margin-left: 120px;
}

.box1 img , .help img{
    height: 200px;
    width: 300px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
}

.container1{
    border-radius: 40px;
    background-color:#d7f7ff;
    border: none;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding:60px 40px;
    width: 450px;
    margin-left :400px;
}

.help{
    font-size: 14px;
    margin-left: 1150px;
    margin-bottom: 15px;
    border:none;
    border-radius: 10px;
    background-color:white ;
    padding:5px 6px;
    width:180px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    transition: 0.25s ease-in-out;
}
.help:hover{
    transform: scale(1.1);
}

.container2{
    justify-content: center;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    border-radius: 25px;
    background-color: #fff;
    padding:30px 40px;
    width: 1150px;
    margin : 0 auto 15px auto;
}
.container4{
    font-size: 14px;
    border:none;
    border-radius: 10px;
    background-color:#c9daf5 ;
    padding:20px 20px;
    width:900px;
    margin : 0 auto 15px auto;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

#help{
    border:none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    margin-top: 3px;
}
.comm img {
    width:20px;
    height:20px;
    margin-left:20px;
    cursor: pointer;
    transition:all 0.25s ease-in-out;
}
.comm a , .comm span{
    margin-right:6px;
}
.container4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.container2 .container4:nth-child(2),
.container2 .container4:nth-child(4) {
    background-color:#d7f7ff;
}
.comm-wrapper {
    margin-left: auto;
}
.comm img:hover{
    transform: translateY(2px);
    opacity:0.75;
}
.comm img:active{
    transform: scale(0.9%);
}
.help img{
    display: inline-block;
}
.help a{
    display: inline-block;
}
#mybtn1,#mybtn{
    background-color: transparent;
    border:none;
    outline:none;
}
