@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #3d5cb8;
    --primary-color-dark: #334c99;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f1f5f9;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/*setting max width of the container*/
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.footer__col a{
    text-decoration: none;
    color:white;
}
/*settings background color*/
.footer {
    background-color: var(--primary-color);
}

/*grid for footer*/
.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 5rem;
}

.footer__col h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer__col h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer__col p {
    color: var(--extra-light);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer__col p:hover {
    color: var(--white);
}

.footer__bar {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid var(--extra-light);
}

.footer__bar p {
    font-size: 0.9rem!important;
    color: var(--extra-light)!important;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials span {
    font-size: 1.2rem;
    color: var(--extra-light);
}

/*responsive*/
@media (width < 900px) {
    .footer__container {
        gap: 2rem;
    }
}

@media (width < 600px) {
    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__bar {
        flex-direction: column;
        text-align: center;
    }
}