/* nav side map*/
.tabs {
    margin-top: 30px;
    margin-bottom: -20px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
    z-index: 1;
}
.container1 input[type="radio"] {
    display: none;
}
.container1{
    max-width: var(--max-width);
    margin:0 auto;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 250px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}
.glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 250px;
    background-color:transparent;
    z-index: -1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}
.container1 input[type="radio"]:checked + label {
    color: #185ee0;
}

.container1 input[type="radio"]:checked + label {
    background-color: #185ee0;
    color: #fff;
    margin: 0;
}

.container1 input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
}

.container1 input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
}

.container1 input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
}
.container {
    border-radius: 20px;
    width: var(--max-width);
    margin: 60px auto 0 auto;
}
.notification {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.shadow {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);

}

.details {
    max-width: var(--max-width);
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}
.details__item {
    display: flex;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
#img_grant{
    height:300px;
    width:500px;
    border-radius: 10rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
#img_grant1{
    height:300px;
    width:500px;
    border-radius: 10rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top:32%;
    left:51%;
}
.details__user {
    background: #f6f9fc;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.item__quantity {
    position: absolute;
    right: 475px;
    top: 310px;
    font-size: 20px;
}
.item__details {
    padding: 30px;

}
.item__title {
    font-size: 28px;
    font-weight: 600;
}
.item__price {
    font-size: 22px;
    color: #bec3cb;
}
.item__description ul li{
    padding:10px 0 10px 0;

}
.item__description ul{
    list-style: none;
}
.item__description1{

}
.item__description1 input {
    margin: 12px 30px 12px 30px;
    z-index: 1000;
    background-color: var(--container-color);
    border: 2px solid var(--text-light);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--text-color);
}
.item__details1{
    display: flex;
    flex-direction: column;
    padding:30px;
    width: var(--max-width);
}
.second{
    height:600px;
    max-width: var(--max-width);
    margin-top:80px;
}
.second_submit{

    border-radius: 8px;
    border: 0;
    letter-spacing: 1px;
    color: #fff;
    background: #246eea;
    padding: 8px ;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.15s ease;
    text-decoration: none;
    height:60px;
    width:200px;
    margin:20px 0 ;

}
.second_submit:hover{
    transform: scale(1.1);

}
.warning{
    flex-direction: column;
    width:75%;
    font-size: 0.7rem;
}
.item__description2{
    display: flex;
    flex-direction: column;
}
.third_submit{
    width:60px;
}
.item__description2 input{
    margin: 12px 30px 12px 30px;
    z-index: 1000;
    background-color: var(--container-color);
    border: 2px solid var(--text-light);
    padding: 0.5rem;
    border-radius: .5rem;
    color: var(--text-color);
}
.section_2{
    margin:0 auto;
}
.details2{
    margin-top: -178px;
    margin-bottom: 40px;
    max-width: var(--max-width);
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.item__details2{
    display: flex;
    flex-direction: column;
    padding:30px;
    width: var(--max-width);
    border:2px solid var(--text-light);
}
.headtitle{
    margin-top:30px;
}
.seat{

}
.seatimage{
    height:30px;
    width:30px;
}